doctype html

html
    head
        title Block Explorer
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js')
        link(rel='stylesheet' href='/stylesheets/css/block-explorer.css')
        script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
        link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')

    body(ng-app='BlockExplorer')
        .container(ng-controller='MainController')
            .row
                .col-md-8.offset-md-2
                    h1#page-title Block Explorer
            .row
                .col-md-6.offset-md-3
                    form
                        .form-group
                            input.form-control(type='text', ng-model='searchValue')
                        .form-group
                            select.form-control(ng-model='searchType')
                                option(value='block') Block Hash
                                option(value='transaction') Transaction ID
                        button.btn.btn-primary.margin-auto.btn-search(type='submit')
                            | Search
                        p.no-data-text(ng-if='!block && !transaction && !addressData && initialSearchMade')
                            | No data found for search.
            .row
                .col-md-10.offset-md-1
                    // 'display block' table
                    h3.table-title(ng-if='block') Block
                    table.table.table-striped(ng-if='block')
                        tbody
                            tr
                                td.bold Block Hash
                                td {{ block.hash }}
                            tr
                                td.bold Index
                                td {{ block.index }}
                            tr
                                td.bold Time Stamp
                                td {{ block.timestamp }}
                            tr
                                td.bold Nonce
                                td {{ block.nonce }}
                            tr
                                td.bold Previous Hash
                                td {{ block.previousBlockHash }}
                            tr
                                td.bold Number Transactions
                                td {{ block.transaction.length }}
                    // end 'display block' table
                    // 'display transaction' table
                    h3.table-title(ng-if='transaction') Transaction
                    table.table.table-striped(ng-if='transaction')
                        tbody
                            tr
                                td.bold Sender
                                td {{ transaction.sender }}
                            tr
                                td.bold Recipient
                                td {{ transaction.recipient }}
                            tr
                                td.bold Choice
                                td {{ transaction.choice }}
                    // end 'display transaction' table
    script(src='/javascripts/block-explorer.js')