.table-title {
    margin-bottom: 20px;
    text-align: center;
}
.table {
    background-color: #ffffff;
    box-shadow: 2px 2px 15px -3px rgba(0,0,0,0.75);
}
#balance-text {
    text-align: center;
    margin-top: -20px;
    margin-bottom: 30px;
}
.margin-auto {
    margin: auto;
    display: block;
}
.btn-search {
    margin-bottom: 50px;
}
.bold {
    font-weight: 700;
}
.no-data-text {
    color: red;
    text-align: center;
}